<% action = (track.persisted? ? track_url(track) : tracks_url) %>
<% method = (track.persisted? ? :patch : :post) %>


<form action="<%= action %>" method="post">
  <input type="hidden" name="_method" value="<%= method %>">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <label for="track_name">Track Name:</label>
  <input
    type="text"
    name="track[name]"
    id="track_name"
    value="<%= track.name %>">
  <br><br>

  <label for="album_name">Album:</label>
  <select name="track[album_id]" id="album_name">
    <option value="" selected="selected">
    <% Album.all.each do |album| %>
      <option value="<%= album.id %>" <%= track.album_id == album.id ? "selected" : "" %>>
      <%= album.name %></option>
    <% end %>
  </select>
  <br><br>

  <% Track::TRACK_TYPES.each do |track_type| %>
  <label for "track_type"><%= track_type %></label>
    <input
      type="radio"
      name="track[track_type]"
      value="<%= track_type %>"
      <% "checked" if track.track_type == track_type %>>
  <% end %>
  <br><br>

  <label for="track_lyrics">Lyrics:</label>
  <input
    type="text"
    name="track[lyrics]"
    id="track_lyrics"
    value=" <%= track.lyrics %>">
  <br><br>


  <% submit_text = (track.persisted? ? 'Update' : 'Create') %>

  <input type="submit" value="<%= submit_text %>">

</form>
