<% action = (album.persisted? ? album_url(album) : albums_url) %>
<% method = (album.persisted? ? :patch : :post) %>


<form action="<%= action %>" method="post">
  <input type="hidden" name="_method" value="<%= method %>">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <label for="album_name">Album Name:</label>
  <input
    type="text"
    name="album[name]"
    id="album_name"
    value="<%= album.name %>">
  <br><br>

  <label for="band_name">Band:</label>
  <select name="album[band_id]" id="band_name">
    <option value="" selected="selected">
    <% Band.all.each do |band| %>
      <option value="<%= band.id %>" <% album.band_id == band.id ? "selected" : "" %>>
      <%= band.name %></option>
    <% end %>
  </select>
  <br><br>

  <% Album::RECORDING_TYPES.each do |recording_type| %>
  <label for "recording_type"><%= recording_type %></label>
    <input
      type="radio"
      name="album[recording_type]"
      value="<%= recording_type %>"
      <% "checked" if album.recording_type == recording_type %>>

  <% end %>
  <br><br>

  <% submit_text = (album.persisted? ? 'Update' : 'Create') %>

  <input type="submit" value="<%= submit_text %>">

</form>
